@tailwind base;
@tailwind components;
@tailwind utilities;

* { margin:0; padding:0; box-sizing:border-box; }
body { font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }

/* scrollbar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #38b2ac; border-radius: 4px; }
